In [38]:
import sqlite3
import pandas as pd
import yfinance as yf

#criando banco de dados.
conn = sqlite3.connect('stocks.db')

url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"

# Leitura da tabela HTML como DataFrame
df = pd.read_html(url, index_col=0)[0]

df

,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
Symbol,,,,,,,
MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...
XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [39]:
import investpy as inv
br = inv.stocks.get_stocks(country='brazil')

In [41]:
br['symbol']

0       ABCB4
1       AGRO3
2       RAIL3
3       ALPA3
4       ALPA4
        ...
744    IBFF11
745    CVBI11
746    HRDF11
747    RSPD11
748    TCPF11
Name: symbol, Length: 749, dtype: object

In [45]:
carteira = []
for a in br['symbol']:
  if len(a) <= 5:
    carteira.append(a+'.SA')

In [ ]:
dt = yf.download(carteira, start = '2015-01-01', end = '2024-01-01')['Adj Close']

[*********************100%%**********************]  389 of 389 completed

84 Failed downloads:
['VLJS11.SA', 'BTTL3.SA', 'VLOL11.SA', 'BBRK3.SA', 'BKBR3.SA', 'IDNT3.SA', 'BEEF11.SA', 'CARD3.SA', 'SQIA3.SA', 'UTEC34.SA', 'VIVT4.SA', 'FEXC11.SA', 'PBLV11.SA', 'BIDI11.SA', 'TIET2.SA', 'JBDU3.SA', 'XTED11.SA', 'MEND5.SA', 'TRXL11.SA', 'PRTS11.SA', 'TASA13.SA', 'IDVL4.SA', 'ATSA11B.SA', 'LAME3.SA', 'CLGN34.SA', 'PNVL4.SA', 'ELDO11B.SA', 'GBIO33.SA', 'TRPN3.SA', 'JBDU4.SA', 'GESE11B.SA', 'RDPD11.SA', 'FBOK34.SA', 'SFND11.SA', 'ENMA3B.SA', 'CHKE34.SA', 'TIET4.SA', 'BSEV3.SA', 'OMGE3.SA', 'TCPF11.SA', 'MMXM3.SA', 'IDVL3.SA', 'WPLZ11B.SA', 'TASA15.SA', 'OUCY11.SA', 'EEEL4.SA', 'LBRN34.SA', 'VVAR3.SA', 'LCAM3.SA', 'SEDU3.SA', 'FVBI11.SA', 'BIDI4T.SA', 'MTIG4.SA', 'SULA11.SA', 'CELP5.SA', 'SMLS3T.SA', 'VPSI11.SA', 'TOYB4.SA', 'WSON33.SA', 'MYPK12.SA', 'CAMB10.SA', 'BIDI4.SA', 'CPRE3.SA', 'SDIP11.SA', 'PARD3.SA', 'SULA4.SA', 'BTOW3.SA', 'CESP3.SA', 'ESUD11.SA', 'BRML3.SA', 'CELP7.SA', 'ENBR3.SA', 'DMMO3.SA', 'WIZS3.SA', 'TCNO4.SA', 'ALSO3.SA', 'MEND6.SA', 'CRDE3.SA']: Exception('%ticker%: No timezone found, symbol may be delisted')
['IGBR3.SA', 'BBIM11.SA', 'CPRE3T.SA']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2015-01-01 -> 2024-01-01)')
['TOUR11.SA', 'GFSA1.SA']: Exception("%ticker%: Period 'max' is invalid, must be one of ['1d', '5d']")
['INEP4.SA']: Exception("%ticker%: Data doesn't exist for startDate = 1420077600, endDate = 1704078000")

[************************************************************263%%*************************************************************]  1022 of 389 completed

In [47]:
dt

Ticker,AALL34.SA,AALR3.SA,AAPL34.SA,ABBV34.SA,ABCB4.SA,ABCP11.SA,ABEV3.SA,ADHM3.SA,AFLT3.SA,AHEB3.SA,...,WIZS3.SA,WPLZ11.SA,WPLZ11B.SA,WSON33.SA,WUNI34.SA,XPCM11.SA,XPIN11.SA,XPLG11.SA,XRXB34.SA,XTED11.SA
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-02,NaN,NaN,3.291956,NaN,5.098229,39.823448,10.964508,2.761584,1.698326,14.425087,...,NaN,50.259853,NaN,NaN,NaN,65.423691,NaN,NaN,25.288059,NaN
2015-01-05,NaN,NaN,3.241656,NaN,5.057605,39.823448,10.766024,2.636058,1.698326,14.425087,...,NaN,50.259853,NaN,NaN,NaN,64.085991,NaN,NaN,25.288059,NaN
2015-01-06,NaN,NaN,3.912343,NaN,4.935736,41.723732,11.176682,2.385004,1.698326,14.425087,...,NaN,51.570965,NaN,NaN,NaN,64.242874,NaN,NaN,25.288059,NaN
2015-01-07,NaN,NaN,3.280779,NaN,4.838241,41.310631,11.334097,2.510531,1.698326,14.425087,...,NaN,50.347252,NaN,NaN,NaN,64.259392,NaN,NaN,25.288059,NaN
2015-01-08,NaN,NaN,3.346729,NaN,4.842302,41.310631,12.017050,2.636058,1.698326,14.425087,...,NaN,50.347252,NaN,NaN,NaN,65.233765,NaN,NaN,25.288059,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-21,69.860001,10.55,47.307720,46.011887,22.891087,67.200134,13.700000,1.560000,8.300000,17.010000,...,NaN,62.477798,NaN,NaN,58.259998,10.200039,80.628349,104.871193,72.943428,NaN
2023-12-22,69.570000,10.51,46.958035,46.776596,22.977720,67.687088,13.710000,1.560000,8.300000,14.990000,...,NaN,63.752857,NaN,NaN,58.259998,10.229980,80.902092,105.788094,88.535278,NaN
2023-12-26,68.139999,10.21,46.468472,46.528313,23.208752,68.008484,13.770000,1.560000,8.550000,14.990000,...,NaN,63.762669,NaN,NaN,57.060001,10.170097,80.950974,106.281044,88.029808,NaN
2023-12-27,67.779999,10.30,46.468472,46.230373,23.478285,67.726044,13.840000,1.560000,8.590000,14.990000,...,NaN,64.527702,NaN,NaN,57.060001,10.259922,78.399261,107.335976,88.097847,NaN
2023-12-28,68.320000,10.40,46.768208,46.349548,24.103987,67.988998,13.730000,1.560000,8.590000,15.500000,...,NaN,63.752857,NaN,NaN,57.779999,10.219999,78.409027,107.365547,89.342964,NaN

In [57]:
"""novaTabela= []
for i in range(len(dt)):
  for j in range(len(dt)):
    novaTabela = (dt[i][j] - dt[i][j-1])/ dt[i][j-1]"""

nova_tabela = []
for i in range(len(dt)):
  nova_linha = []  # Create a new list for each row's differences
  for j in range(1, len(dt[i])):  # Start from j=1 (skip the first element)
    diferenca = (dt[i][j] - dt[i][j-1]) / dt[i][j-1]
    nova_linha.append(diferenca)
  nova_tabela.append(nova_linha)  # Add the row of differences to nova_tabela

# (Optional) Convert nova_tabela to a pandas DataFrame for further manipulation
df = pd.DataFrame(nova_tabela)

KeyError: 0

KeyError: "None of [Index(['Data', 'Diferença'], dtype='object')] are in the [columns]"

In [48]:
nova_tabela = df[['Data', 'Diferença(%)']]

KeyError: "None of [Index(['Data', 'Diferença(%)'], dtype='object')] are in the [columns]"